<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>PDF2X</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div align="center">
   <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="img-responsive" width="200"/>
   <h1>PDF2X converter</h1>
   <h2>Upload new File</h2>
   <form method=post enctype=multipart/form-data>
       <p><input type=file name=file>
           <input type=submit value=Upload>
   </form>
</div>
</body>
</html>